<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>CODE-IT</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/list_style.css}" rel="stylesheet" />
    <link th:href="@{/css/invalid.css}" rel="stylesheet" />
    <link th:href="@{/css/form_style.css}" rel="stylesheet" />
<!--    <link th:href="@{/css/footerStyle.css}" rel="stylesheet" />-->
</head>
<body>

    <div th:insert="fragments/header"></div>

    <main>
<!--    <script type="text/javascript" th:src="@{/js/validationCommon.js}"></script>-->
<!--    <script type="text/javascript" th:src="@{/js/validationCourseForm.js}"></script>-->
    <h3>Nowy kurs</h3>

    <form class="form" method="post" th:action="@{/courses}" th:object="${course}" novalidate onsubmit="return validateForm();">

        <label for="name">Nazwa kursu: <span class="symbol-required">*</span></label>
        <input type="text" name="name" id="name" th:field="*{name}" placeholder="2-50 znakow" required />
        <span th:unless="${#fields.hasErrors('${course.name}')}" id="errorName" class="error-text"></span>
        <span id="errorValidationName" class="error-text" th:errors="*{name}"></span>

        <label for="description">Opis: <span class="symbol-required">*</span></label>
        <textarea id="description" name="description" rows="5" cols="40" th:field="*{description}" placeholder="max 200 znakow"></textarea>
        <span th:unless="${#fields.hasErrors('${course.description}')}" id="errorDescription" class="error-text"></span>
        <span id="errorValidationDescription" class="error-text" th:errors="*{description}"></span>

        <label for="price">Cena(zł): <span class="symbol-required">*</span></label>
        <input type="number" name="price" id="price" min="200" step="50" th:field="*{price}" placeholder="min 200, przeskok co 50" required />
        <span th:unless="${#fields.hasErrors('${course.price}')}" id="errorPrice" class="error-text"></span>
        <span id="errorValidationPrice" class="error-text" th:errors="*{price}"></span>

        <div class="formDiv">
            <p id="errorsSummary" class="error-text"></p>
            <input type="submit" value="Dodaj" class="form-button-submit"/>
            <a href="/courses" class="form-button-cancel">Anuluj</a>
        </div>
    </form>


    </main>

<!--    <div th:insert="fragments/betterFooter"></div>-->
    <div th:insert="fragments/footer"></div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>