<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>CODE-IT</title>
        <link th:href="@{/css/style.css}" rel="stylesheet" />
        <link th:href="@{/css/list_style.css}" rel="stylesheet" />
        <link th:href="@{/css/invalid.css}" rel="stylesheet" />
        <link th:href="@{/css/form_style.css}" rel="stylesheet" />
    </head>
    <body>

        <div th:insert="fragments/header"></div>

        <main>
            <script type="text/javascript" th:src="@{/js/validationCommon.js}"></script>
            <h3>Edycja kursu</h3>

            <form class="form" method="post" th:action="@{'/courses/edit/' + ${course.id}}" novalidate onsubmit="return validateForm();">
                <label for="name">Nazwa kursu: <span class="symbol-required">*</span></label>
                <input type="text" name="name" id="name" th:value="${course.name}" required />
                <span id="errorName"></span>
                
                <label for="description">Opis: <span class="symbol-required">*</span></label>
                <textarea id="description" name="description" rows="5" cols="40" th:text="${course.description}"></textarea>
                <span id="errorDescription"></span>

                <label for="price">Cena(zł): <span class="symbol-required">*</span></label>
                <input type="number" name="price" id="price" min="200" step="50" th:value="${course.price}" required />
                <span id="errorPrice"></span>

                <div class="formDiv">
                    <p id="errorsSummary"></p>
                    <input type="submit" value="Zatwierdź" class="form-button-submit"/>
                    <a href="/courses" class="form-button-cancel">Anuluj</a>
                </div>
            </form>

            
        </main>

        <div th:insert="fragments/footer"></div>
    </body>
</html>