<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>CODE-IT</title>
        <link th:href="@{/css/style.css}" rel="stylesheet" />
        <link th:href="@{/css/list_style.css}" rel="stylesheet" />
    </head>
    <body>

        <div th:insert="fragments/header"></div>

        <main>
            <h2>Lista kursów</h2>
            <div class="table-div">
                <h2 th:unless="${courses}">Brak rekordów do wyświetlenia</h2>
                <table class="table-list" th:if="${courses}">
                   <thead>
                    <tr>
                        <th>Nazwa kursu</th>
                        <th>Akcje</th>
                    </tr>
                   </thead>

                   <tbody>
                   <tr th:each="course: ${courses}">
                       <td th:text="${course.name}"></td>
                       <td>
                           <ul class="list-actions">
                               <li><a href="/transactions/" class="list-actions-button-details">Szczegóły</a></li>
                               <li><a href="/courses/edit" class="list-actions-button-edit">Edytuj</a></li>
                               <li><a href="/clients/" class="list-actions-button-delete">Usuń</a></li>
                           </ul>
                       </td>
                   </tr>
                   </tbody>
                </table>
            </div>

            <p><a href="/courses/add" class="button-add">Dodaj nowy kurs</a></p>
        </main>

        <div th:insert="fragments/footer"></div>
    </body>
</html>