<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>CODE-IT</title>
        <link th:href="@{/css/style.css}" rel="stylesheet" />
        <link th:href="@{/css/list_style.css}" rel="stylesheet" />
        <link th:href="@{/css/invalid.css}" rel="stylesheet" />
        <link th:href="@{/css/form_style.css}" rel="stylesheet" />

    </head>
    <body>

        <div th:insert="fragments/header"></div>

        <main>
<!--            <script type="text/javascript" th:src="@{/js/validationCommon.js}"></script>-->
<!--            <script type="text/javascript" th:src="@{/js/validationUserForm.js}"></script>-->
            <h3>Nowy uzytkownik</h3>

            <form class="form" method="post" th:action="@{/clients}" th:object="${client}" novalidate onsubmit="return validateForm();">

                <label for="userName">Nazwa uzytkownika: <span class="symbol-required">*</span></label>
                <input type="text" name="userName" id="userName" th:field="*{userName}" placeholder="example1234 max 50 znakow" />
                <span th:unless="${#fields.hasErrors('${client.userName}')}" id="errorUsername" class="error-text"></span>
                <span id="errorValidationUsername" class="error-text" th:errors="*{userName}"></span>


                <label for="email">E-mail: <span class="symbol-required">*</span></label>
                <input type="email" name="email" id="email" th:field="*{email}" placeholder="example@gmail.com" />
                <span th:if="${#fields.hasGlobalErrors()}" th:text="Existing" class="error-text"></span>
                <span th:if="${#fields.hasGlobalErrors() == false && #fields.hasErrors('${client.email}') == false}" id="errorEmail" class="error-text" ></span> <!--span do js'a-->
                <span th:unless="${#fields.hasGlobalErrors()}" id="errorValidationEmail" class="error-text" th:errors="*{email}"></span>

                <label for="password">Haslo: <span class="symbol-required">*</span></label>
                <input type="password" name="password" id="password" th:field="*{password}" />
                <span th:unless="${#fields.hasErrors('${client.password}')}" id="errorPassword" class="error-text"></span>
                <span id="errorValidationPassword" class="error-text" th:errors="*{password}"></span>


                <label for="registrationDate">Data rejestracji: <span class="symbol-required">*</span></label>
                <input type="date" name="registrationDate" id="registrationDate" th:field="*{registrationDate}"/>
                <span th:unless="${#fields.hasErrors('${client.registrationDate}')}" id="errorRegistration" class="error-text"></span>
                <span id="errorValidationRegistration" class="error-text" th:errors="*{registrationDate}"></span>

                <div class="formDiv">
                    <p id="errorsSummary" class="error-text"></p>
                    <input type="submit" value="Dodaj" class="form-button-submit"/>
                    <a href="/clients" class="form-button-cancel">Anuluj</a>
                </div>
            </form>

            
        </main>

        <div th:insert="fragments/footer"></div>
    </body>
</html>