<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>CODE-IT</title>
        <link th:href="@{/css/style.css}" rel="stylesheet" />
        <link th:href="@{/css/list_style.css}" rel="stylesheet" />
        <link th:href="@{/css/invalid.css}" rel="stylesheet" />
        <link th:href="@{/css/form_style.css}" rel="stylesheet" />
    </head>
    <body>


        <div th:insert="fragments/header"></div>

        <main>
            <script type="text/javascript" th:src="@{/js/validationCommon.js}"></script>
            <script type="text/javascript" th:src="@{/js/validationUser-CourseForm.js}"></script>
            <h3>Nowa transakcja</h3>

            <form class="form" method="post" action="/transactions" novalidate onsubmit="return validateForm();">

                <label for="clientName">Użytkownik:</label>
                <select name="clientName" id="clientName" >
                    <option th:each="clientName: ${userNames}"
                            th:text="${clientName}"></option>
                </select>
                <span id="errorUser" class="error-text"></span>

                <label for="courseName">Zakupiony kurs:</label>
                <select name="courseName" id="courseName" >
                    <option th:each="courseName: ${courseNames}"
                            th:text="${courseName}"></option>
                </select>
                <span id="errorCourse" class="error-text"></span>

<!--                <label for="signup">Data zakupu: </label>-->
<!--                <input type="date" name="signup" id="signup" />-->
<!--                <span id="errorSignup" class="error-text"></span>-->

<!--                <label for="expiring">Data wygaśnięcia: </label>-->
<!--                <input type="date" name="expiring" id="expiring" />-->
<!--                <span id="errorExpiring" class="error-text"></span>-->

                <label for="opinion">Opinia(opcjonalna):</label>
                <textarea id="opinion" name="opinion" rows="5" cols="40" placeholder="max 200 znaków"></textarea>
                <span id="errorDescription" class="error-text"></span>

                <div class="formDiv">
                    <p id="errorsSummary" class="error-text"></p>
                    <input type="submit" value="Zatwiedź" class="form-button-submit"/>
                    <a href="/" class="form-button-cancel">Anuluj</a>
                </div>
            </form>
        
        </main>

        <div th:insert="fragments/footer"></div>
    </body>
</html>