<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>CODE-IT</title>
        <link th:href="@{/css/style.css}" rel="stylesheet" />
<!--        <link th:href="@{/css/footerStyle.css}" rel="stylesheet" />-->
    </head>
    <body>


    <div th:insert="fragments/header"></div>

        <main>
            <h2>Strona glowna</h2>
            <p>Code-IT to platforma e-learningowa
                stworzona do nauki najczesciej uzywanych
                rozwiazan programistycznych w celu zdobycia podstawowej wiedzy i obycia
                z jezykami typu "Python", "Java" czy "Javascript". Dostepne sa rowniez szkolenia
                z zakresu tworzenia relacyjnych baz danych ktore swietnie uzupelniaja cały proces
                nauki. Po przerobieniu materialu masz pewnosc ze posiadasz podstawy do poslugiwania sie
                danym narzedziem i smialo mozesz rozwijac swoje umiejetnosci w zastosowaniu tych rozwiazan w
                podejsciu biznesowym.
            </p>
        </main>

<!--    <div th:insert="fragments/betterFooter.html"></div>-->
    <div th:insert="fragments/footer"></div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>