<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CodeIT</title>
    <style>
        .container {
            margin: 0 auto;
            max-width: 400px;
        }
        .login-form {
            display: flex;
            flex-direction: column;
            margin-top: 32px;
            align-content: center;
        }
        .login-header,
        .log-icon {
            text-align: center;
        }
        .log-icon {
            display: block;
        }
        .form-item {
            margin: 4px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="login-header">Zaloguj sie</h1>
        <img src="/static/img/icon.jpg" alt="Python Icon" class="log-icon">
        <form action="/login" method="post" class="login-form">
            <input name="username" placeholder="nazwa uzytkownika" class="form-item">
            <input name="password" placeholder="haslo" type="password" class="form-item">
            <button type="submit" class="form-item">Zaloguj sie</button>
        </form>
    </div>
</body>
</html>